body {
  width: 100%;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.card {
  background-color: rgba(0, 0, 0, 0.187);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.45);
}

.outer {
  padding: 2px 20px 40px 40px;
  width: 1000px;
}

#check {
  width: 20px !important;
  height: 25px !important;
  margin-top: 3px;
}

#country {
  width: 100px !important;
  height: 30px !important;
}


#remark {
  width: 150px !important;
  height: 30px !important;
}

#remarks {
  width: 150px !important;
  height: 30px !important;
}

.invoice{
  width: 600px !important;
}