

.form{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.703);
  border-radius: 10px !important;
  max-width: 2000px !important;
  background-color: rgba(255, 166, 0, 0.024);
 
}

select{
  height: 40px;
}
.form-control{
  height: 2.4rem;
}
